p {
  color: #ffffff;
}

.job-profile-card {
  border-radius: 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 10px;
}

.job-profile-name {
  color: #2c364c;
}

.job-profile-bio {
  color: #2c364c;
}

.job-profile-loader-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.job-profile-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-profile-retry-button {
  width: 110px;
  height: 35px;
  background-color: #4f46e5;
  border: 0px;
  border-radius: 12px;
}
